html, body {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
 /* outline: 1px solid red; */
}

html {
  color: #CF6766;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.header {
  background: linear-gradient(to bottom,#7a19f1,#332179);
  padding-top: calc(60px + 1rem);
  min-height: 30vh;
}

.navbar {
  padding: 0.5rem 0;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.navbar--scrolling {
  background: #7a19f1;
}

.navbar__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  color: #FFF;
  text-transform: uppercase;
  margin-right: 1.5rem;
  text-decoration: none;
  font-family: "Verdana";
}

.menu__link:hover {
  color: yellow;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {

}

.logo__text {
  font-size: 1.5rem;
  color: #FFF;
  margin-right: 0.5rem;
}

.chat-button {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 0.25rem 1rem;
  background: rgba(0,0,0,0.19);
  box-shadow: 0 0 10px #0000005c inset;
  color: #FFF;
  position: relative;
}

.chat-button:before {
  content: " ";
  position: absolute;
  left: 8px;
  top: calc(50% - 5px);
  background: greenyellow;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

.chat-button:hover {
  background: #ffdc0d;
  color: rgba(0,0,0,.6);
  box-shadow: none;
  font-weight: 700;
  padding: 0.25rem calc(1rem - 6px);
}

.chat-button:hover:before {
  display: none;
}

.chat-button:hover .chat-button__text { 
  display: none;
}

.chat-button:hover .chat-button__text-hover {
  display: block;
  left: 0;
} 

.chat-button .chat-button__text, .chat-button__text-hover {
  position: relative;
  left: 6px;
  text-transform: uppercase;
  font-size: 0.5rem;
  line-height: 1rem;
}

.chat-button .chat-button__text-hover {
  display: none;
}

.nav-wrapper {
  background-color: #CF6766;
}

hr {
  background-color: #8EAEBD;
  border: 10px solid #8EAEBD;
  border-radius: 5px;
}

.centered-element {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#webapp {
   color: white;
    font-weight: 700;
    line-height: 1.3;
}

#fullstack {
  margin-top: 30px;
  color: white;
  font-weight: 300;
}

#portfolio-button {
  border-radius: 25px;
  background-color: #ffcb05;
  padding: 0.5rem 1rem;
  border-width: 0px;
  margin: 4rem 0;
  color:rgba(0, 0, 0, .6);
  
   
}

#portfolio-button:hover {
  background-color: #deb000;
}

/*# sourceMappingURL=style.css.map */

.carousel-container {
  margin:2rem 0;
}

.carousel {
  width: 60vw;
  margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
  color: #332179;
}

.carousel-skill {
  width: 200px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  color:purple;
  text-align: center;
}

.carousel-skill div {
  height: 80px;
}

.carousel-skill h3 {
  height: 70px;
  display: flex;
  align-items: center;
}

p {
  color:black;
}

.portfolio {
  background-color: #7a19f1;
  padding: 2rem;
}


.portfolio__container {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.card {
  display: flex;
  border-radius: 10px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: #FFF;
  padding: 2rem;
  flex-basis: 33%;
  margin: 0 1rem;
}

.card h1 {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.card ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.card ul li {
  margin: 1rem 0;
  color: #333;
}

.card button {
  border-radius: 25px;
  background-color: #ffcb05;
  padding: 0.5rem 1rem;
  border-width: 0px;
}

.card button:hover {
  background-color: #deb000;
}

.contact {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem;
  color:purple;
  width: 40vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1)
}

.contact div {
  margin: 1rem 0;
  display: flex;
  
}

.contact textarea {
  width: 100%;
  height: 20vh;
  padding: 0.3rem;
  margin: 0.3rem 0;
}

.contact label {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 1rem;
  
}

.contact label input {
  padding: 0.3rem;
  margin: 0.3rem 0;
}

.contact button {
  
  border-radius: 25px;
  background-color: purple;
  padding: 0.5rem 1rem;
  border-width: 0px;
  color: white;

}

.contact button:hover {
  background-color: rgb(110, 0, 110);
}

.contact .submit-container {
  display: flex;
  justify-content: center;
}

.footer a {
  margin: 0 0.3rem;
}

.contact-container {
  display: flex;
  justify-content: center;
}